#education {
  margin-top: 3.50mm;
}

div.section-header {
  font-size: 1.15em;
  font-weight: 600;
}

div.section-header img {
  width: 1.15em;
  height: auto;
}

div.entry {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5mm;
}

div.entry span {
  color: #000000;
  font-size: 1.05em;
  margin: 0;
}

div.entry div.left-section {
  display: flex;
  flex-direction: column;
  text-align: left;
}

div.left-section span.degree {
  font-weight: 600;
}

div.left-section span.domain {
  font-style: italic;
}

div.entry div.right-section {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 95%;
}

div.entry span.school {
  font-weight: 600;
  left: 49%;
  position: absolute;
  text-decoration: underline;
  transform: translate(-50%, 0);
}
