@page {
  size: A4;
  margin: 0;
}

@media print {
  .root {
    /* A4 sizing */
    width: 210mm;
    height: 297mm;

    margin: 0;
  }
}

body {
  /* A4 sizing */
  width: 210mm;
  height: 297mm;

  margin: 0 auto;
  background: rgb(211, 211, 211);
}
