.page {
  /* A4 sizing */
  width: 210mm;
  height: 297mm;

  background: white;
  display: flex;
  margin: 0;

  font-family: "Times New Roman";
}

.header {
  text-align: center;
  width: 100%;
  padding-top: 5px;
}

/* Links with no style */
.no-style-link {
  color: inherit;
  text-decoration: inherit;
}

/* Image icons in the info bar */
.info-icon, img {
  width: 1.15em;
  height: auto;
}

#header-name {
  font-size: 1.75em;
  font-weight: bold;
}
