div.page {
  /* A4 sizing */
  width: 210mm;
  height: 297mm;

  /* Hack fix for Brave */
  border: 1px solid black;

  background: white;
}

div.content {
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman";
  max-height: 100%;
  margin: 3.00mm 7.00mm;
}
