div.page {
  /* A4 sizing */
  width: 210mm;
  height: 297mm;

  /* Hack fix for Brave */
  border: 1px solid black;

  background: white;
}

div.content {
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman";
  max-height: 100%;
  margin: 3.00mm 7.00mm;
}

/* Links with no style */
a.no-style-link {
  color: inherit;
  text-decoration: inherit;
}

/* Image icons in the info bar */
img.info-icon {
  width: 1.15em;
  height: auto;
}

#header {
  text-align: center;
  width: 100%;
}

/* Where your name goes */
#header-name {
  font-size: 2.25em;
  font-weight: bold;
  padding-bottom: 0.50mm;
}

#employment {
  margin-top: 3.50mm;
}

div.section-header {
  font-size: 1.15em;
  font-weight: 600;
}

.section-header span, hr {
  color: #000000;
  margin: 0;
}

div.employment-entry {
  margin-top: 0.60em;
}

div.entry-header {
  display: flex;
  justify-content: space-between;
}

div.entry-header span {
  color: #000000;
  font-size: 0.95em;
  margin: 0;
}

div.entry-header span.title {
  font-weight: 600;
}

div.entry-header span.company {
  font-weight: 600;
  left: 45%;
  position: absolute;
  text-decoration: underline;
}

div.entry-header-right {
  display: flex;
  flex-direction: column;
  text-align: center;
}

ul.entry-bullets {
  margin: 0;
  padding-left: 1em;
}
